
body{
    background: #ffffff;
    line-height: 1.6;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    line-height: 2.0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border: 1px solid black;
}

nav{
    background-color: rgb(122, 194, 194);

    width: 100%;
    overflow: auto;
}

.link {
    width: 200px;
    float: left;
    margin: 16px;
   
    border: 1px solid;
}

main{

    border: 1px solid;
    
}
header{
    border: 1px solid;
}
aside{
    border: 1px solid;
}
footer{
    border: 1px solid;
}
article{
    border: 1px solid;
    margin: 50px;
}

#pessoas{
    width: 200px;
    margin:20px;
}

p{ 
  float: right;
}
h1{
    border: 1px solid;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    
   
}
#logo{
    width: 100px;
    margin:20px;
}
#usuario{
    width: 50px;
    margin:20px;
    float: right;
}
